@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    --bg-color: #f1eaeffa;
    --primary-color: #ffffff;
    --secondary-color: #27ac22;
    --accent-color: #b0db60;
    --font-color: #7c5919;
    font-size: 14px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: var(--accent-color);
  min-width: 320px;
}

.clearfix{
  float: none;
  clear: both;
}

#container{
  padding: 20px;
  margin: 30px auto;
  width: 80%;
  height: 600px;
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 100%;
  height: 100px;
  background-color: var(--bg-color);
  color: var(--font-color);
  line-height: 100px;
  text-align: center;
}

aside{
  width: 25%;
  min-height: 450px;
  float: left;
  background-color: var(--primary-color);
  line-height: 450px;
  text-align: center;
}

#articles{
  width: 75%;
  min-height: 450px;
  background-color: var(--bg-color);
  float: left;
}

#articles article{
  width: 30%;
 
  background-color: var(--bg-color);
  color: var(--font-color);
  line-height: 100px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  float: left;
  margin: 30px;
}

h1 {
  font-size: 20pt;
  color: var(--font-color);
  text-align: center;
}

h2 {
  font-size: 16pt;
  color: var(--font-color);
}

p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-color);
}

a {
  text-decoration: underline;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
  color: var(--font-color);
}

@media (min-width:320px) and (max-width: 480px){
  header{
    line-height: 70px;
    height: 70px;
    font-size: 9px;
  }

  #container{
    height: auto;
  }

  #articles{
    width: 100%;
    min-height: auto;
  }

  #articles article{
    width: 100%;
    float: none;
    margin: 10px 0;
  }

  aside{
    width: 100%;
    float: none;
    min-height: 25px;
    line-height: 25px;
    font-size: 8.5px;
    padding: 7px;
  }

}


@media (min-width:481px) and (max-width: 600px){
  header{
    line-height: 70px;
    height: 70px;
    font-size: 14px;
  }
  
  #container{
    height: auto;
  }

  #articles{
    width: 100%;
    min-height: auto;
    padding: 10px;
  }

  #articles article{
    width: 100%;
    float: none;
    margin: 10px 0;

  }

  aside{
    width: 100%;
    float: none;
    min-height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 7px;
  }

}

@media (min-width:601px) and (max-width: 800px){
    header{
    line-height: 70px;
    height: 70px;
    font-size: 14px;
  }
  
  #container{
    height: auto;
  }

  #articles{
    width: 100%;
    min-height: auto;
    padding: 10px;
  }

  #articles article{
    width: 50%;
    float: left;
    margin: 10px 0;

  }

  aside{
    width: 100%;
    float: none;
    min-height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 7px;
  }
}
