@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: underline;
    color: rgb(4, 139, 60);
}

a:hover {
    text-decoration: underline;
    color: black;
}

/*multiple elements using a coma separator*/
h1, h2 {
    font-size: 20pt;
}
div.header {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 28pt;
    font-style: normal;
}

div.footer {
    background-color: rgba(80, 78, 78, 0.164);
}

/*the content here will override the styles in the divs*/
p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*just the identified element by its id*/
#content {
    background-color: green;
}
/*classes can be used anywhere*/
.quotation {
    background-color: blueviolet;
}
