@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    --bg-color: #f1eaeffa;
    --primary-color: #ffffff;
    --secondary-color: #27ac22;
    --accent-color: #b0db60;
    --font-color: #7c5919;
    font-size: 14px;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-style: normal; 
    background-color: var(--accent-color);
    min-width: 320px;
}

.clearfix {
    float: none;
    clear: both;
}

#container {
    padding: 20px;
    margin: 30px;
    width: 80%;
    min-height: 500px;
    background-color: var(--primary-color);
    align-self: center;
}

div.header {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 28pt;
    font-style: normal;
    text-align: center;
    color: var(--font-color);
}

div.aside {
    width: 20%;
    min-height: 500px;
    padding: 20px;
    float: right;
    background-color: var(--font-color);
    line-height: 50px;
    text-align: left;
}

div.examples {
    width: 70%;
    min-height: 500px;
    padding: 20px;
    float: left;
}

div.footer {
    background-color: var(--bg-color);
    width: 100%;
}

a {
    text-decoration: underline;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
    color: var(--font-color);
}

h1 {
    font-size: 20pt;
    color: var(--font-color);
}

h2 {
    font-size: 16pt;
    color: var(--secondary-color);


p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p.aside {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--bg-color);
} }